<author-card>
  <div class="author-image">
    <% if !is_guest? && @author.image_url.present? %>
      <img src="<%= @author.image_url %>" />
    <% end %>
  </div>
  <div class="author-description">
    <h3><%= author_name %></h3>
    <% if !is_guest? && @author.title.present? %>
      <p><%= @author.title %></p>
    <% end %>
    <% if has_links? %>
      <div class="links">
        <% if @author.email.present? %>
          <a href="<%= "mailto:#{@author.email}" %>">
            <%= svg "images/icons/mail.svg" %>
          </a>
        <% end %>
        <% if @author.github.present? %>
          <a href="<%= @author.github %>">
            <%= svg "images/icons/github.svg" %>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</author-card>
