<guide-list>
  <div class="list-container">
    <% @resources.each do |resource| %>
      <a class="guide card" href="<%= resource.relative_url %>">
        <h3><%= resource.data.title %></h3>
        <p><%= resource.data.excerpt %></p>
        <%= render Shared::Taglist.new(tags: resource.data.tags) %>
      </a>
    <% end %>
  </div>
  <% if @remaining_count > 0 %>
    <a href="<%= relative_url "/guides/#{Bridgetown::Utils.slugify(@category_name)}" %>" class="card browse-all">
      <span>Browse <strong><%= @remaining_count %> more </strong> guides</span>
      <%= svg "images/icons/arrow-right-circle.svg" %>
    </a>
  <% end %>
</guide-list>
