<guide-sidebar>
  <aside>
    <%= render Guides::Authors::List.new(authors: @authors) %>
    <hr>
    <dl>
      <dt>Posted in</dt>
      <dd><a class="label" href="<%= relative_url "/guides/#{@category.downcase.split(" ").join("-")}" %>"><%= @category %></a></dd>
      <% if @tags.present? %>
        <dt>Tags</dt>
        <dd><%= render Shared::Taglist.new(tags: @tags) %></dd>
      <% end %>
      <dt>Last update</dt>
      <dd><%= @update %></dd>
    </dl>
  </aside>
</guide-sidebar>
