---
layout: category
title: Guides in category :prototype-term-titleize
page_class: category
prototype:
  collection: guides
  term: category
  per_page: 20
  sort_reverse: true
---

<% @category = site.data.guides.categories.find{ |category| category.name.downcase == data.category.gsub(/-/, ".").downcase }
%>
<% if @category %>
  <%= render Shared::Hero.new(title: @category.long_name, description: @category.description) %>
<% else %>
  <%= render Shared::Hero.new(title: data.category.titleize) %>
<% end %>
<div class="double-pane">
  <aside>
    <h2>All categories</h2>
    <ul>
      <% site.data.guides.categories.each do |category| %>
        <%= render Categories::Sidebar::Item.new(category: category, current: data.category) %>
      <% end %>
    </ul>
  </aside>
  <%= render Guides::List.new(resources: paginator.resources) %>
</div>
<%= render Shared::Pagination.new(paginator: paginator) %>
