---
layout: page
title: Guides in category ":prototype-term-titleize"
page_class: category
prototype:
  collection: guides
  term: category
  per_page: 20
  sort_reverse: true
---

<div class="double-pane">
  <aside>
    Other categories:
    <ul>
      <% collections.guides.resources.map{ |resource| resource.data.categories }.flatten.uniq.each do |category| %>
        <li>
          <a href="<%= relative_url "/guides/#{category.downcase.split(" ").join("-")}" %>">
            <%= category %>
          </a>
        </li>
      <% end %>
    </ul>
  </aside>
  <guide-list>
    <ul class="category-items">
    <% paginator.resources.each do |item| %>
      <li>
        <a class="item card" href="<%= item.relative_url %>">
          <h3><%= item.data.title %></h3>
          <div class="tag-list">
            <% item.data.categories.each do |tag| %>
              <span class="label" data-label-status="inverted"><%= tag %></span>
            <% end %>
            <% item.data.tags.each do |tag| %>
              <a class="label" data-label-status="inverted"><%= tag %></a>
            <% end %>
          </div>
        </a>
      </li>
    <% end %>
    </ul>
  </guide-list>
</div>
<%= render Shared::Pagination.new(paginator: paginator) %>
