---
layout: category
title: Guides in category :prototype-term-titleize
page_class: category
prototype:
  collection: guides
  term: category
  per_page: 20
  sort_reverse: true
---

<% @category = site.data.guides.categories.find{ |category| category.name.downcase == data.category.gsub(/-/, ".").downcase }
%>
<% if @category %>
  <%= render Shared::Hero.new(title: @category.long_name, description: @category.description) %>
<% else %>
  <%= render Shared::Hero.new(title: data.category.titleize) %>
<% end %>
<div class="double-pane">
  <%= render Categories::Sidebar.new(categories: site.data.guides.categories, current: data.category) %>
  <%= render Guides::List.new(resources: paginator.resources, category_name: @category.name) %>
</div>
<%= render Shared::Pagination.new(paginator: paginator) %>
