<guide-category class="<%= @css_classes %>">
  <div class="list-header">
    <h2><%= @title %></h2>
    <% if @description.present? %>
      <p><%= @description %></p>
    <% end %>
    <% if @category_name != "All" %>
      <a href="<%= relative_url "/guides/#{Bridgetown::Utils.slugify(@category_name)}" %>">
        Browse all <%= @category_name %> Guides
        <%= svg "images/icons/arrow-right.svg" %>
      </a>
    <% end %>
  </div>

  <%= render Guides::List.new(resources: @resources) %>
</guide-category>
