<highlight-banner>
  <div class="wrapper">
    <div class="content">
      <h3><%= @title %></h3>
      <%= content %>
      <% if has_button_content? %>
        <%= link_to @link_url, class: "button" do %>
          <%= svg "#{@link_icon}" if @link_icon.present? %>
          <%= @link_label if @link_label.present? %>
        <% end %>
      <% end %>
    </div>
    <% if @image.present? %>
      <%= svg "#{@image}", class: "image" %>
    <% end %>
  </div>
</highlight-banner>
