<side-item id="<%= category_id %>"<% if @items.present? %> aria-expanded="true" data-sidebar-target="expandable"<% end %>>
  <div class="item"<% if @is_current %> aria-current="true"<% elsif @is_parent %>data-current-parent="true"<% end %>>
    <%= svg "/docs/images/icons/#{@icon}.svg" if @icon.present? %>
    <% if @resource.present? %>
      <a class="link" href="<%= @resource.relative_url %>">
        <%= @label %>
      </a>
    <% else %>
      <a href="" aria-controls="<%= category_id %>" data-action="click->sidebar#toggle">
        <%= @label %>
      </a>
    <% end %>
    <% if @items.present? %>
      <button data-button-style="secondary" data-button-size="xsmall" aria-controls="<%= category_id %>" data-action="sidebar#toggle" aria-label="<%= @is_current ? "Expand list" : "Hide list" %>">
        <%= svg "/docs/images/icons/caret-right.svg" %>
      </button>
    <% end %>
  </div>
  <% if @items.present? %>
    <ul class="sidebar-sublist">
      <% @items.each do |item| %>
        <li>
          <%= render Shared::Sidebar::Item.new(page: item, current: @current) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</side-item>
