<side-item>
  <li>
    <% if @resource.present? %>
      <a class="item" href="<%= @resource.relative_url %>"<% if @is_current %> aria-current="true"<% end %>>
        <%= svg "images/icons/#{@icon}.svg" if @icon.present? %>
        <%= @label %>
      </a>
    <% else %>
      <div class="item"<% if @is_current %> aria-current="true"<% end %>>
        <%= svg "images/icons/#{@icon}.svg" if @icon.present? %>
        <%= @label %>
      </div>
    <% end %>
    <% if @items.present? %>
      <ul class="sidebar-sublist">
        <% @items.each do |item| %>
          <%= render Help::Sidebar::Item.new(page: item, current: @current) %>
        <% end %>
      </ul>
    <% end %>
  </li>
</side-item>
